---
title: SANSUI | Still in the romantic youth
layout: default
footer_content: |
  Living life over.
header_content: |
  <span class="smol">English / <a href="/">简体中文</a></span>
---

{% assign i = 0 %}
<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    1998, Chinese. 
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Bachelor of Science in Environmental Science and Engineering, have done water treatment and municipal work.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Still learning, though not smart, but I will try to improve myself.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Have done photography, design, news communication and other work, harvest a lot.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I didn't know how to program, I didn't know anything about code, just messing around with things I'm interested in.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I want to <a href="/notes">write something ↗</a>, or share something or make fun of something in my life.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Always see joys and sorrows, always want to describe the beauty of the present.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Unfortunately, I am not so good at writing, I envy those who can express themselves in words and writing.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    五星红旗，迎风飘扬 ~ 
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">Sundries</h2>
<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Although do not know programming, but these personal station or let me in the Internet this piece of the sea will not drift everywhere.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    So, made a few small boats like this.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I keep <a href="/notes">NOTES ↗</a> and <a href="/blog">BLOGS ↗</a> about my life.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I put all my essays in the<a href="/">WENJI ↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    My → → <a href="https://buyivi.xyz/pages/friend/">Friend ↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">Posts <span class="smol"><a href="/feed.xml">[feed]</a></span></h2>

<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}
</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">Latest note <a href="/notes" class="smol">[all]</a> <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>
