---
title: SANSUIZ
layout: default
footer_content: |
  Living life over.
header_content: |
  <span class="smol">English / <a href="/">简体中文</a></span>
  <!-- 心知天气固定插件 -->
  <div align="right" id="tp-weather-widget"></div>
  <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
  <script>tpwidget("init", {
    "flavor": "slim",
    "location": "WS0E9D8WN298",
    "geolocation": "enabled",
    "language": "auto",
    "unit": "c",
    "theme": "chameleon",
    "container": "tp-weather-widget",
    "bubble": "enabled",
    "alarmType": "badge",
    "uid": "U81EB522D4",
    "hash": "6b972a5f25f3cc4e8beb25e2feab9d4b"
  });
  tpwidget("show");
  </script>
---

{% assign i = 0 %}
<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    This is a foolish person. 
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I want to <a href="/notes">write something ↗</a>, or share something or make fun of something in my life.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Always see joys and sorrows, always want to describe the beauty of the present.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Unfortunately, I am not so good at writing, I envy those who can express themselves in words and writing.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I deeply cherish the land beneath my feet, I love my motherland, and hope for her prosperity and flourishing. 
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    五星红旗，迎风飘扬 ~ 
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">Sundries</h2>
<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    Although do not know programming, but these personal station or let me in the Internet this piece of the sea will not drift everywhere.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    So, made a few small boats like this.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    I keep <a href="/notes">NOTES ↗</a> and <a href="/wenji">BLOGS ↗</a> about my life.
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    My → → <a href="https://buyivi.xyz/pages/friend/">Friend ↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">Posts <span class="smol"><a href="/feed.xml">[feed]</a></span></h2>

<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}
</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">Latest note <a href="/notes" class="smol">[all]</a> <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>
