---
title: 今日晴，明日雨，阴晴圆缺
layout: default
header_content: |
  <span class="smol"><a href="/EN">English</a> / 中文简体</span>
---

<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    赵啊赵，戊寅年，生长于中国四川的一座小城。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    其实是一个很笨的人，如果再懒一点，可能就什么都没有了。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    不会编程，敲不出优美的代码，在这些知识面前，我只是个婴儿。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    很想写一些东西，或是分享或是吐槽一下<a href="/notes">自己生活中遇到的事情 ↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    总是会看到悲欢喜乐，总是会想要描绘出来。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    虽然现实总是想要教会我许多道理，可我依然希望保持一颗可以共情的心，以及浪漫的心理。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    如果你问我还有什么理想，当然是希望这个社会再多一些温暖和善良。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">瞎折腾</h2>
<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    把自己的生活记录在<a href="/notes">便签 ↗</a>，偶尔还是会写一些文字在<a href="/wenji">BLOG ↗</a>上。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    这里有我的朋友 → → <a href="https://buyivi.xyz/pages/friend/">友邻 ↗</a>，也可以在此处<a href="https://buyivi.xyz/pages/liuyan/">留言↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">文章 <span class="smol"><a href="/feed.xml">【订】</a></span></h2>
<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">最近的便签 <a href="/notes" class="smol">【全】</a> <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>
