---
title: 今日晴，何不如约而至
layout: default
header_content: |
  <span class="smol"><a href="/EN">English</a> / 中文简体</span>
---

<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    其实是一个很笨的人，如果再懒一点，可能就什么都没有了。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">瞎折腾</h2>
<ul class="terminal">
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    把自己的碎碎念放在<a href="/notes">便签 ↗</a>里，偶尔也会想要写一些文字在<a href="/wenji">BLOG ↗</a>上。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    这里有我的博客朋友 → → <a href="https://buyivi.xyz/pages/friend/">友邻 ↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    有什么问题，也可以邮件与我联系 → → <a href="mailto:xmann_zh@foxmail.com">写信↗</a>。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">文章 <span class="smol"><a href="/feed.xml">【订】</a></span></h2>
<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}

</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">最近的便签 <a href="/notes" class="smol">【全】</a> <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>

<hr class="hr">