footer {
  color: #666;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-links {
  order: 999;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.social-links a {
  color: #666;
  font-size: 1.1rem;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.social-links a:hover {
  opacity: 1;
}