<!doctype html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="me" href="https://buyivi.xyz">
    <link rel="alternate" type="application/rss+xml" href="/notes.xml">
    <link rel="shortcut icon" href="/assets/fav.png">
    <link rel="shortcut icon" href="/assets/fav.svg">
    <link rel="authorization_endpoint" href="https://github-indieauth.herokuapp.com/auth">
    <link rel="token_endpoint" href="https://github-indieauth.herokuapp.com/token">
    <link rel="micropub" href="https://site-endpoint.herokuapp.com/micropub">
    {% if page.collection == "posts" %}
      <link href="/assets/syntax.css" rel="stylesheet" type="text/css">
    {% endif %}
    <link href="/assets/new.css" rel="stylesheet" type="text/css">
      <title>{{ page.title }} - {{ site.title }}</title>
      <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
  </head>
  <body>
    <script src="/js/construct.js"></script>
    <header>

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?eab227629076a3068adabbd009c5b599";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>

      <a href="https://buyivi.xyz">
        <img src="/assets/header.png"/>
      </a>
      <h1 class="h1">
        {{ page.title }}<span class="blink">|</span>
      </h1>
      {% if page.collection == 'posts' %}<small>{{ page.date | date_to_string }}</small><br>{% endif %}
      {% if page.path != 'index.html' and page.path != 'EN/index.html' %}
        <small><a href="/"> $ cd ~</a></small>
      {% endif %}
      {{ page.header_content }}
      <li>
        <a href="https://weibo.com/cnych" title="微博">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </header>
    <div id="tp-weather-widget"></div><!-- 天气插件 -->
		<script>
			(function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
			window.SeniverseWeatherWidget('show', {
			flavor: "bubble",
			location: "WX4FBXXFKE4F",
			geolocation: true,
			language: "zh-Hans",
			unit: "c",
			theme: "auto",
			token: "ac1d036a-99f3-4f88-ae98-f795bb93a9f0",
			hover: "disabled",
			container: "tp-weather-widget"
			})
		</script><!-- 天气插件结束 -->
    <main>
      {% if page.collection == "posts" or page.collection == "pages" %}
        <article>
          {{ content }}
        </article>
        <!--div class="pagination">
          {% if page.previous %}
            <div><a href="{{ page.previous.url }}">
              Prev: {{ page.previous.title }}
            </a></div>
          {% endif %}
          {% if page.next %}
            <div><a href="{{ page.next.url }}">
              Next: {{ page.next.title }}
            </a></div>
          {% endif %}
        </div-->
      {% else %}
        {{ content }}
      {% endif %}
    </main>

    <footer>
      {% if page.footer_content %}{{ page.footer_content }}{% else %}
      花有重开日，人无再少年 :)<br>
      <p>留言请移步 <a href="https://f.wps.cn/g/hQQzfcZC/"> SANSUIZ | 留言单 </a> </p>
      <p><a href="https://beian.miit.gov.cn/">蜀ICP备19032927号</a></p>
      {% endif %}
      <p><a target="_self">
        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5scqdepzayd&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=times_new_roman&amp;l=33&amp;s=175" async="async" style="width:60px;left:0px;position:fixed;bottom:0px;" ></script>
      </a></p>
        <a href="#top" target="_self">
      <img src="https://sansuiz.github.io/images/China.svg" style="width:60px;right:0px;position:fixed;bottom:0px;" />
      </a>
    </footer>
    <link href="https://fonts.googleapis.com/css?family=Cousine&display=swap" rel="stylesheet">
  </body>
</html>
